extends layout

block content
  h1 Bar Tab
  p.lead Place your drinks order online
  .row
    .col-sm-12
      .login-buttons
        a.btn.btn-default(href='/login', role='button') Login

        a.btn.btn-default(href='/signup', role='button') Create Account
