extends layout

block content
  .main-content
    h1 Fan Tab
    p.lead Place your drinks order online
    .row
      .col-sm-12
        .login-buttons
          a.btn.btn-default.btn-lg(href='/login', role='button') Login

          a.btn.btn-default.btn-lg(href='/signup', role='button') New User
